%container {
	--content-width: 100%;
	--breakout-offset: 0px;

	@include bp("small") {
		--content-width: #{$width-content};
		--breakout-offset: #{$breakout-offset};
	}
	display: grid;

	grid-template-columns:
		[fullwidth-start] 1fr
		[breakout-start] var(--breakout-offset)
		[content-start] min(var(--content-width), 100%) [content-end]
		var(--breakout-offset) [breakout-end]
		1fr [fullwidth-end];

	> * {
		@extend %normal-width;
	}
}

%normal-width,
%fullwidth,
%breakout {
	@extend %container-child-padding;
}

%normal-width {
	grid-column: content;
	// border: 1px solid red;
}

%fullwidth {
	grid-column: fullwidth;
	// border: 1px solid blue;
}

%breakout {
	grid-column: breakout;
	// border: 1px solid green;
}

%container-child-padding {
	padding: 0 $container-child-padding;
}
